.navbarBrand {
  font-size: 30px;
}

.navbarBrand::first-letter {
  color: #f21d1d;
}

.navBarLink {
  text-decoration: none;
  padding: 10px;
  border-radius: 9px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.btnStyle{
  width: 3rem;
  height: 3rem;
}