body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 0;
  background-color: #f0f0f0;
}

.links-navbar {
  margin-left: 20px;
  font-size: 1.2rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.btn-theme {
  margin-right: 20px;
  width: 150px;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #fdfdfd;
}

.btn-theme:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
.container-form {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  margin: 10px 0 20px 0;
  padding: 6px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.btn-form {
  margin: 20px 0 50px 0;
  padding: 6px;
  border: none;
  border-radius: 10px;
  background-color: rgb(196, 218, 255);
  font-size: 1rem;
  font-weight: 700;
}

.btn-form:hover {
  cursor: pointer;
  background-color: rgb(178, 206, 255);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img-doc {
  width: 90%;
}

.container-card-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-detail {
  width: 50%;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}

.img-doc-detail {
  width: 50%;
}

.btn-goback {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(196, 218, 255);
  font-size: 1rem;
  font-weight: 700;
}

.btn-goback:hover {
  cursor: pointer;
  background-color: rgb(178, 206, 255);
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#dark{
  background-color: #12121296;
  color: white;
}
#dark > a {
  color: white;
}